.block {
  width: 300px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  margin: 50px auto 0;
}

.window {
  width: 95%;
  height: 50px;
  padding: 5px;
  margin: 0 auto 20px;
  border: 1px solid gray;
  display: grid;
  justify-content: center;
  align-items: center;
}

.content {
  display: block;
  font-size: 20px;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(3, 100px);
}

.keyboard button {
  display: block;
  height: 50px;
  font-size: 20px;
}